#content {
    text-align:center;
}
#content #img1 {
    text-align:left;
    height: 200px;
    width: 100%;
}
.relative {
    position: relative;
    width: 300px;
}
.absolute {
    position: absolute;
    left:30px;
    top:30px;
}